*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
body{
    height:100%;
    width:100%;
}
body{
    background-color: black;
}
section{
    height: 100vh;
    background-image: url("lake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: saturate(2);
    clip-path: circle(100px at var(--x) var(--y));
}